# MacOS
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/

# Rasaß
logs/
*.db
*.sqlite3

# pyenv
.python-version
.venv/
__pycache__/
*.pyc
.rasa/
**/__pycache__/
rasa/
*.db
*.sqlite
.cache/
tmp/
logs/
*.pyc
models/*.old.tar.gz
models/*.tmp

